---
import { FaDiscord, FaGithub, FaXTwitter } from "react-icons/fa6";
import { NavigationContainer } from "./NavigationContainer.tsx";

const links = [
	{ href: "/", label: "Home" },
	{ href: "/about", label: "About" },
	{ href: "/achievements", label: "Achievements" },
	{ href: "/blog", label: "Blog" },
];

const socialLinks = [
	{ href: "https://x.com/tuatmcc", icon: FaXTwitter },
	{ href: "https://x.com/tuatmcc", icon: FaGithub },
	{ href: "https://x.com/tuatmcc", icon: FaDiscord },
];
---

<slot />
<NavigationContainer client:only="react">
	<div
		class="w-full h-full pl-8 pt-24 overflow-y-auto flex flex-col justify-between"
	>
		<ul class="flex flex-col gap-8">
			{
				links.map((link) => (
					<li class="link-item relative flex text-gray-100 text-2xl font-orbitron tracking-wider">
						<a href={link.href} class=" flex justify-end w-full p-2">
							{link.label}
						</a>
					</li>
				))
			}
		</ul>
		<div class="relative">
			<div class="absolute top-0 right-0 w-[4px] bottom-0 bg-blue-600"></div>
			<ul class="relative flex flex-col gap-8 p-4">
				{
					socialLinks.map((socialLink) => (
						<li class="flex">
							<a
								href={socialLink.href}
								target="_blank"
								rel="noopener noreferrer"
								class="flex flex-1 justify-end"
							>
								<socialLink.icon className="text-gray-200 w-6 h-6" />
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>

	<style>
		.link-item {
			&::after {
				position: absolute;
				content: "";
				display: block;
				bottom: 0;
				right: 0;
				width: 0;
				bottom: 0;
				height: 2px;
				background: white;
				transition: all 0.2s;
				opacity: 0;
			}

			&:hover {
				&::after {
					width: 100%;
					opacity: 1;
				}
			}
		}
	</style>
</NavigationContainer>
