---
import { NavigationContainer } from "./NavigationContainer.tsx";

const links = [
	{ href: "/", label: "Home" },
	{ href: "/about", label: "About" },
	{ href: "/achievements", label: "Achievements" },
	{ href: "/blog", label: "Blog" },
];
---

<slot />
<NavigationContainer client:only="react">
  <div class="w-full pl-8 pt-24 overflow-y-auto">
    <ul class="flex flex-col gap-8">
      {links.map((link) => (
      <li class="link-item relative flex text-white text-2xl font-orbitron tracking-wider">
        <a href={link.href} class=" flex w-full p-2">{link.label}</a>
      </li>
      ))} 
    </ul>
  </div>
</NavigationContainer>

<style>

.link-item {
  &::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 50%;
    width: 0;
    bottom: 0;
    height: 2px;
    background: white;
    transition: all 0.2s;
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}
</style>
