---
import Navigation from "../components/Navigation/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
  path='/about'
  pagefind={true}
  og={{
    enabled: true,
    image: new URL('https://example.com/image.jpg'),
    width: 1200,
    height: 630,
    type: 'article'
  }}
>
  <Navigation>
    <div class="h-svh flex flex-col items-center justify-center">
      <img src="/animated_mcc.webp" class="lg:w-1/2 sm:w-10/12" />
    </div>
  </Navigation>
</Layout>
