---
import Navigation from "../components/Navigation/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MCC" path="" og={{enabled: true}} pagefind={false}>
  <Navigation />
  <button>Click me</button>
  <slot />
</Layout>
<style>
</style>
