---
import Navigation from "../components/Navigation/Navigation.astro";
import Introduction from "../components/home/Introduction.astro";
import { Progress } from "../components/home/Progress";
import Top from "../components/home/Top.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MCC" path="" og={{ enabled: true }} pagefind={false}>
	<Navigation>
		<main class="relative">
			<Top />
			<Introduction />
			<div class="flex flex-col items-center justify-center h-svh">
				<h1 class="text-4xl font-bold text-center">MCC</h1>
				<p class="text-center">
					The official website of the Model Christian College, Dimapur
				</p>
			</div>
			<Progress client:only="react" />
		</main>
	</Navigation>
</Layout>
