---
import Navigation from "../components/Navigation/Navigation.astro";
import RecentNews from "../components/home/RecentNews.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="MCC" path="" og={{ enabled: true }} pagefind={false}>
	<!-- <img src="/abstract-wave.jpg" class="absolute top-0 left-0 w-full h-full bg-black" /> -->
	<Navigation>
		<div class="h-svh flex flex-col items-center justify-center relative">
			<img src="/animated_mcc.webp" alt="MCC Logo" class="w-80 h-80" />
		</div>
		<RecentNews />
	</Navigation>
</Layout>
