---

---

<div class="h-dvh flex relative">
  <div class="fixed w-32 h-32 top-0 z-10">
    <img src="/logos/logo.svg" alt="MCC Logo" class="pl-8 pt-8 lg:h-40 lg:mr-[-200px]" />
  </div>
  <div class="w-full flex flex-col p-4 pt-16">
    <div class="flex justify-end mb-[-1px]">
      <svg width="70" height="140" viewBox="0 0 70 140" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-[-1px] text-blue-800">
      <path d="M70 140H0C15 136 15 140 35 70C55 0 55 0 70 0V140Z" fill="currentColor"/>
      </svg>
      <div class="rounded-tr-2xl bg-blue-800 w-[calc(100%-200px)]" />
    </div>
    <div class="w-full h-full rounded-b-2xl rounded-l-2xl bg-blue-800 p-4">
      <slot />
    </div>
	</div>
</div>

<style>
</style>
